h1 {

    color: blueviolet;
    text-align: center;



}

#Color {

    background-color: blueviolet;
    width: 50%;
    




}

span {

    color: white;



}

th {

    background-color: blueviolet;



}

td {

    background-color: white;




}
